/*img{
    margin: 5px;
}*/

#seatStructure{ 
    visibility: hidden;
}

.centerme{
    position:relative;
    left:50%;
    right: -50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

img{
    width: 20px;
    height: 20px;
}
