img{
    margin: 2px;
    width: 23px;
    height: 23px;
}

#seatStructure{ 
    visibility: hidden;
}

.centerme{
    position:relative;
    left:50%;
    right: -50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

